### Package Version
- seaborn==0.10.1
- pandas==1.0.4
- matplotlib==3.2.1

# Context:
TechCrunch is an American online publisher focusing on the tech industry. The company specifically reports on the business related to tech, technology news, analysis of emerging trends in tech, and profiling of new tech businesses and products.
TechCrunch’s Startup Battlefield is the world’s preeminent startup competition. Startup Battlefield features 15-30 top early stage startups pitching top judges in front of a vast live audience, present in person and online. 

# Data description:
Each row in the dataset is a Start-up company and the columns describe the company. 

**Name** - Name of the company

**Website** : Company website

**Crunchbase URL** - URL for company's profile in the Tech crunch database

**Funds Raised** - Funds raised by the company in USD

**Event** - The techcrunch event the company participated in

**Outcome** - Described by Contestant, Finalist, Audience choice, Winner or Runnner up,

**Status** - Current status of the company Operating, Closed , Aquired or Ipo


[Tech Crunch dataset](https://data.world/aurielle/techcrunch-startup-battlefield-all-companies/workspace/file?filename=Copy+of+Blank+Sheet+-+Template+-+Sheet3.csv)


# Tasks:
**1)** Check if the average funds raised by the companies still operating and the companies that got closed is significantly different

**2)** Check if the proportion of companies still operating is different among the companies which came out only as contestants vs companies that either came out as Finalists, Audience choices, Winners or a Runner-ups

# Import the dataset

In [26]:
import pandas as pd

data = pd.read_csv('techcrunch_data.csv')
print(data.shape)
data.head()

(662, 7)

,Name,Website,Crunchbase URL,Funds Raised,Event,Outcome,Status
0,2600Hz,2600hz.com,https://www.crunchbase.com/organization/2600hz,NaN,Disrupt SF 2013,Contestant,Operating
1,3DLT,3dlt.com,https://www.crunchbase.com/organization/3dlt-com,$630K,Disrupt NYC 2013,Contestant,Closed
2,3DPrinterOS,3dprinteros.com,https://www.crunchbase.com/organization/3dprin...,NaN,Disrupt SF 2016,Contestant,Operating
3,3Dprintler,3dprintler.com,https://www.crunchbase.com/organization/3dprin...,$1M,Disrupt NY 2016,Audience choice,Operating
4,42 Technologies,42technologies.com,https://www.crunchbase.com/organization/42,NaN,Disrupt NYC 2013,Contestant,Operating

# Explore the data

In [ ]:
data.dtypes

- All the columns are of object type 
- However, we would need the column "Funds Raised" to be of numerical data type
- We shall treat that later

In [ ]:
data.isna().sum()

- Turns out we do not have data of funds raised by all the companies
- We would need need it to perform the first task, hence we will have to ignore the companies of which we do not have data for the funds they raised

In [ ]:
df1 = data.dropna().copy(deep=True)   # drop the rows which have no data for funds raised

In [ ]:
df1['Funds Raised'].sample(5)

- We do not have absolute numbers to directly use in our tests
- The values need some pre-processing
- We will strip the values of the dollar sign and the abbreviations
- First we will have to check all the various abbreviations that the numbers are represented by, then based on the abbreviation we have to bring those numbers on the same scale

In [ ]:
df1.loc[:,'Funds_in_million'] = df1['Funds Raised'].apply(lambda x: float(x[1:-1])/1000 if x[-1] == 'K' else (float(x[1:-1])*1000 if x[-1] == 'B' else float(x[1:-1])))

**Code Explanation:**
Within the lambda function, we passed two if else blocks. If the last element in the value is 'K', then divide the number by 1000 else, if it is 'B', multiply by 1000 else, return as it is. We passed this lambda function to the apply method which we used on the 'Funds Raised' column and assigned the result to a new column ('funds_in_million') in the dataframe

In [ ]:
df1.sample(3)

- Run the above cell a couple of times to quickly verify the values
- We have brought the data to a usable form for analysis


### Task 1

In [ ]:
%matplotlib inline
from matplotlib import pyplot as plt

plot = plt.boxplot(df1.Funds_in_million)
plt.title('Boxplot of the funds')
plt.ylabel("Funds raised (in Million)")

plt.show()

- There are significant outliers in the data
- For the purpose of this test, we shall remove them

In [ ]:
upper_fence = plot['caps'][1].get_data()[1][1]   # we can use the values from the box plot itself to get the upper fence
upper_fence

In [ ]:
print(f'Number of outliers = {len(df1[df1.Funds_in_million > upper_fence])}')

df1[df1.Funds_in_million > upper_fence]

- The above 60 records are of companies that have been funded excessively in comparision to the others in the pool
- Let's see the distribution without these outliers

In [ ]:
df1.drop(df1[df1.Funds_in_million > upper_fence].index, inplace = True)

In [ ]:
plot = plt.boxplot(df1.Funds_in_million)
plt.title('Boxplot of funds without the original outliers')
plt.ylabel("Funds raised (in Million)")
plt.show()

In [ ]:
df1.Status.value_counts()

- Our companies of interest for task 1 are 275 companies that are opetaring and 57 that got closed

In [ ]:
import seaborn as sns

sns.distplot(df1.Funds_in_million)
plt.title('Distribution of funds raised across all companies')
plt.show()

In [ ]:
df1.Funds_in_million.describe()

- 75% of the companies have less than 5 million raised funds, the max however is 22
- Even after removing the outliers, the data is pretty heavily skewed

In [ ]:
fig, ax = plt.subplots(1, 2)

fig.set_figheight(5)
fig.set_figwidth(15)

sns.distplot(df1.loc[df1.Status == 'Operating', 'Funds_in_million'], ax = ax[0])
sns.distplot(df1.loc[df1.Status =='Closed', 'Funds_in_million'], ax = ax[1])

ax[0].set_title('Funds raised by the companies still operating')
ax[1].set_title('Funds raised by companies that got closed')
plt.show()

- Visually the distributions are quiet similar
- To prove if there is a significant difference or not we will have to perform a hypothesis test
- Since we want to compare the difference in means of the samples, we can either use 2 sample t test or z-test
- For this exercise we shall do both and compare the results
- One thing to notice is that the distributions are not normal yet, since our sample size is reasonably big ( >30 samples), we will go ahead with the aforementioned tests

For the first test, 

**Null hypothesis (Ho)** : There is no difference between the two means

**Alternate hypothesis (Ha)** : There is significant difference between the two means

In [ ]:
from statsmodels.stats.weightstats import ztest

sample1 = df1.loc[df1.Status == 'Operating', 'Funds_in_million']
sample2 = df1.loc[df1.Status =='Closed', 'Funds_in_million']

alpha = 0.05   # Let's consider a significance level of 5%

test_statistic, p_value = ztest(sample1, sample2)

if p_value <= alpha:
    print(f'Since the p-value, {round(p_value, 3)} < {alpha} (alpha) the difference is significant and we reject the Null hypothesis')
else:
    print(f'''\t Since the p-value, {round(p_value,3)} > {alpha} (alpha) the difference is not significant and,
    \t we fail to reject the Null hypothesis''')

In [ ]:
from scipy.stats import ttest_ind

test_statistic, p_value = ttest_ind(sample1, sample2)

if p_value <= alpha:
    print(f'Since the p-value, {round(p_value, 3)} < {alpha} (alpha) the difference is significant and we reject the Null hypothesis')
else:
    print(f'''\t Since the p-value, {round(p_value,3)} > {alpha} (alpha) the difference is not significant and,
    \t we fail to reject the Null hypothesis''')

- From the tests above we found no evidence to state that the companies that have raised more money tend to suceed more or vice-versa

### Task 2

In [ ]:
df2 = data.copy(deep = True)
df2.head()

In [ ]:
df2.Outcome.value_counts()

- There are 488 who remained contestants and the rest came out as something more, we'll call all of them winners for now

In [ ]:
winners = df2.Outcome.value_counts()[1:].sum()
contestants = df2.Outcome.value_counts()['Contestant']

In [ ]:
contestants_operating = df2.Status[df2.Outcome == 'Contestant'].value_counts().loc['Operating']
winners_operating = df2.Status[df2.Outcome != 'Contestant'].value_counts().loc['Operating']

In [ ]:


winners_operating/winners, contestants_operating/contestants

- There is some difference between the proportion operational companies in the two categories, but let's see if the differnce is significant
- There are two ways we can check if the difference is significant
    - Z-test for proportions
    - Chi-square test
- We shall perform z-test in this case, however, do experiment with Chi-square test and observe if the p-value from both tests gives the same conclusion or not

**Null hyputhesis (Ho)**: The proportion of companies that are operating is the same in both categories - winners and contestants

**Alternative hypothesis (Ha)**: The proportion of companies that are operating is significantly different from each other, among the two categories

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

test_statistic, p_value = proportions_ztest([contestants_operating, winners_operating], [contestants, winners])

if p_value <= alpha:
    print(f'Since the p-value, {round(p_value, 3)} < {alpha} (alpha) the difference is significant and we reject the Null hypothesis')
else:
    print(f'''\t Since the p-value, {round(p_value,3)} > {alpha} (alpha) the difference is not significant and,
    \t we fail to reject the Null hypothesis''')

# Conclusion:
- The amount of funds a company raises is not a significant factor in deciding if the company will remain operational or close down
- Winners in the tech-crunch battle have proven to remain operational more so, than the companies that came out only as contestants

# Bonus

We have the information about the event location where each company has participated and in which year so what we want to do is, see if there is a significant difference among the funds raised by the companies from New York, San Fransisco and Europe (EU and London combined)

In [ ]:
df1[df1.Event.apply(lambda x: 'Disrupt' in x)].Event.value_counts()

- We have considered only the "Tech Crunch Disrupt" events
- Since we have the data for the EU only from 2013, we'll drop the records pertaining to events earlier than 2013

In [ ]:
events = df1[df1.Event.apply(lambda x: 'Disrupt' in x and int(x[-4:]) > 2012)].Event  # all the events of relevance
events

In [ ]:
NY_events = df1.loc[events[events.apply(lambda x: 'NY' in x)].index, 'Funds_in_million']
SF_events = df1.loc[events[events.apply(lambda x: 'SF' in x)].index, 'Funds_in_million']
EU_events = df1.loc[events[events.apply(lambda x: 'EU' in x or 'London' in x)].index, 'Funds_in_million']
print(len(NY_events), len(SF_events), len(EU_events))

- Each of the three above variables hold the amount of funds with respect to the Cities where the even was organised
- The sample sizes are different across the three categories and it is okay to perform ANOVA on samples of different sizes


**Null Hypothesis(Ho)**: Average funds raised by companies across three cities are the same 

**Alternative Hypothesis(Ha)**: Average funds raised by companies across three cities are the different

In [ ]:
plt.figure(figsize=(15,6))
sns.distplot(NY_events, color = 'Red', label = 'NY')
sns.distplot(SF_events, color = 'Gold', label = 'SF')
sns.distplot(EU_events, color = 'blue', label = 'EU')
plt.legend()
plt.show()

- Visually the distributions look quiet similar
- The Modes of the three distributions are quiet the same
- Dispersion in NY quiet high compared to the others
- Let's see what the test says

In [ ]:
from scipy.stats import f_oneway


stat, p_value = f_oneway(NY_events, SF_events, EU_events)

if p_value <= alpha:
    print(f'Since the p-value, {round(p_value, 3)} < {alpha} (alpha) the difference is significant and we reject the Null hypothesis')
else:
    print(f'''\t Since the p-value, {round(p_value,3)} > {alpha} (alpha) the difference is not significant and,
    \t we fail to reject the Null hypothesis''')

- The distribution of funds raised by the companies across the three regions is the same
- We found no evidence to say companies participating in certain regions have funds either significantly on the higher side or on the lower side